<header>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/workshops">Workshops</a></li>
    <li><a href="/bookings">Bookings</a></li>
    <li><a href="/create">Create Booking</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/help">Help</a></li>
  </ul>
</header>
