<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("includes/nav.ejs") %>
    <div class="main">
      <h1>About</h1>
      <p>
        This system is used to create booking for workshops. <br /><br />
        A user of the application can create, review, update and delete a
        booking for a workshop. <br /><br />
        The user creates a booking by entering the name of the person, the
        workshop they wish to attend and card details for payment.
      </p>
    </div>
  </body>
</html>
