<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("includes/nav.ejs") %>
    <div class="main">
      <h1>Help</h1>

      <p>The main functions of the website are as follows:</p>
      <br />
      <ul>
        <li>List planned workshops</li>
        <li>List current bookings</li>
        <li>Create bookings</li>
        <li>Modify or delete a booking</li>
      </ul>
      <br /><br />

      <h2>List Planned Workshops</h2>
      <p>
        Navigate to the <em>Workshops</em> link in the navbar to view planned
        workshops
      </p>
      <br /><br />

      <h2>List Current Bookings</h2>
      <p>
        Navigate to the <em>Bookings</em> link in the navbar to view current
        bookings
      </p>
      <br /><br />

      <h2>Create Booking</h2>
      <p>
        Navigate to the <em>Create Booking</em> link in the navbar and fill out
        the form with the required information. Once all fields have been filled
        correctly, click on the <em>Create</em> button to create your booking
      </p>
      <br /><br />

      <h2>Modify Booking</h2>
      <p>
        Navigate to the <em>Bookings</em> link in the navbar to view current
        bookings and click on the <em>Modify</em> button on the desired booking.
        Change the information in the form fields as required then click on the
        <em>Save</em> button to save your changes
      </p>
      <br /><br />

      <h2>Delete Booking</h2>
      <p>
        Navigate to the <em>Bookings</em> link in the navbar to view current
        bookings and click on the <em>Delete</em> button on the desired booking.
        Review the booking to be deleted then click on the
        <em>Cancel</em> button to cancel deletion or on the
        <em>Delete</em> button to delete the booking
      </p>
      <br /><br />
    </div>
  </body>
</html>
