<!DOCTYPE html>
<html>
  <head>
    <title>Workshop Booking</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("includes/nav.ejs") %>
    <div class="main">
      <h1>Workshop Booking</h1>
      <p>
        Welcome to the workshop booking system. <br /><br />
        From here you can make bookings for a variety of workshops.<br /><br />
        Use the links above to create and view your bookings.
      </p>
    </div>
  </body>
</html>
