<!DOCTYPE html>
<html>
  <head>
    <title>Workshops</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("includes/nav.ejs") %>
    <div class="main">
      <h1>Workshops</h1>
      <%- include("includes/workshopList.ejs") %>
    </div>
  </body>
</html>
